/* * {
    margin: 0;
    padding: 0;
} */

body{
    background-color: #d4dded;
    font-family:Tahoma, Verdana, sans-serif;
    font-size:14px;
}

.container_conteudo{
    position: relative;
    margin-top: 150px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1096px;
    left: 50%;
    margin-left: -548px;
}
.container_login p{
    margin-top: 20px;
    margin-bottom: 10px;
}


.container_greetings {
    background-color: #ffff;
    width: 695px;
    height: 130px;
    padding: 70px 30px 140px 30px;
}

 .br span{
    margin-right: 130px;
} 

.container_greetings span {
    font-weight: bold;
    color: #d60f83;
}

.login{
    border: 3px solid #ffffff;
    background-color: #e8eefa;
    height:250px;
    width: 325px;
    margin-bottom: 7px;
    margin-left: 10px;
    position: relative;
}
.br{
    margin-top: 7px;
    margin-left: 50px;
    margin-bottom:5px;
}

input{
    padding:5px 15px;
    border: 1px solid #676a70;
    border-radius: 1px;
    width: 150px;
    margin-top: 5px;
    
}

input#save {
    margin: 0;
    padding: 0;
    width: auto;
}

.inscrever{
    border: 3px solid #ffffff;
    height:56px;
    width: 325px;
    text-align: center;
    padding-top: 15px;
    margin-left: 10px;
    background-color: #e8eefa;
}


footer{
    background-color: #bccde9;
    height: 20px;
    margin-top: 10px;
    text-align: center;
}
.inscrever>p>a{
    font-weight: bold;
    color: #1845a9;
    
}



button{
    margin: 10px 107px 0 0;
    padding: 3px;
    font-size: 14px;
      
}
.na{
    text-decoration: none;
    color: #7a5ea0;
    font-size: small;
    padding-left: 75px;
    
}

.na:hover{
    text-decoration: underline;
}

.help, a{
    color: #1845a9;
    text-align: center;
    padding: 10px 0px 0px 0px;
    
    
} 

footer {
    width: 100%;
}